#controls {
  position: fixed;
  left: 20px;
  bottom: 10px;
  height: 80px;
  width: 300px;
}

.spacer {
  height: 10px;
}
#topics-chart {
  //background-color: #2B91AF;
  height: 50px;
  //width: 100px;
}

#relations-chart {
  //background-color: #3399cc;
  height: 50px;
  //width: 100px;
}