$base-font: 9pt Verdana;

$query-width: 16em;
$query-height: 150px;

$table-max-height: 300px;

$chart-width: auto;
$chart-height: 100px;

$info-width: 200px;

$lists-height: 150px;

$map-width: 400px;
$map-height: 400px;