.overlay {
  fill: none;
  pointer-events: all;
}

.check {
  fill: steelblue;
  opacity: 0.3;
}

.cg .node {
    .circle {
      fill: lightgray;
      stroke: green; //#fff;
      stroke-width: 1.5px;
    }

    .scaledTag {
      .frame {
        fill: #707070;
      }

      .bg {
        fill: #f0f0f0;
      }

      .tag {
        font-size: 2em;
        font-weight: normal;
        stroke: none;
      }
    }

    &.selected {
      //.circle {
      //  fill: red;
      //}
    }

    &.excluded {
      .scaledTag .bg {
        //fill: yellow;
        fill: #fafafa;
      }
    }

    &.fixed {
      //text-decoration:underline;
      .circle {
        fill: red;
      }
    }

    &.highlight {
      fill: red;

      //.scaleTag .frame {
      //  opacity: 1;
      //}
      //
      //.scaledTag .bg {
      //  fill: yellow;
      //}
      //
      //.frame {
      //  opacity: 1.0;
      //}
    }
  }

.cg .link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;

    &.highlight {
      stroke: red;
      stroke-opacity: 1;
    }

  }

#relayout {
  rect {
    fill: white;
    stroke: #666;
    stroke-width: 0.5;

    &:hover {
      stroke-width: 1;
    }
  }

  text {
    color: green;
    pointer-events: none;
  }
}