.chart {
  svg {
    font: 10px sans-serif;
  }

  .axis {
    shape-rendering: crispEdges;
  }

  .axis path, .axis line {
    fill: none;
    stroke-width: .5px;
  }

  .x.axis path {
    stroke: #000;
  }

  .x.axis line {
    stroke: #aaa;
    stroke-opacity: .5;
    stroke-width: 1px;
  }

  .y.axis line {
    stroke: none;
    stroke-opacity: 0.5;
  }

  path.line {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
  }

  rect.pane {
    cursor: move;
    fill: none;
    pointer-events: all;
  }
}
