@import "base";
@import "components";
@import "xpanel";
@import "query";
@import "cg";

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  font: $base-font;
}

#title {
  font: bold 16pt Georgia; /* Arial; */
  margin: 10px 0 10px 0;
}

#query-area {
  width: $query-width;
  height: auto;
  padding: 10px;
}

#details-area {
  position: fixed;
  left: $query-width + 5;
  top: 10px;
  right: $info-width - 5;
  height: $details-height;
  padding: 0 20px 0 10px;

  //ul { list-style: none; position: relative; padding: 10px 0; margin: 0;}
  //ul li { display: inline-block; padding: 0 10px; vertical-align: top;}
}

#info-area {
  position: fixed;
  right: 10px;
  top: 10px;
  bottom: $map-height + 20;
  width: $info-width;
}

#charts-area {
  display: inline-block;
  width: $info-width/2-5;
  height: auto;
  margin-top: 18px;
}

#pathogens-area {
  display: inline-block;
  width: $info-width/2-5;
  height: auto;
  vertical-align: top;

  #pathogens-charts {
    width: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#tags-table {
  width: 240px;
}

.selected {
  font-weight: bold;
}

.excluded {
  color: lightgrey;
}

.chart {
  width: $chart-width;
  height: $chart-height;
  border: 1px solid lightgrey ;
  padding: 5px;
  margin: 5px;

  .title {
    font-size: 8pt;
  }
}

/* query-area */

#query {
  //width: auto;
  //height: 20em;
}

#tags {
  width: auto;
  height: 100%;
}

#cg {
  position: fixed;
  left: 10px;
  right: $map-width + 20px;
  top: $details-height + 20px;
  bottom: 10px;
  border: lightgray 1px solid;
}

/* info */

#map-area {
  position: fixed;
  right: 10px;
  bottom: 10px;
}



#map {
  width: $map-width;
  height: $map-height;
  border: solid gray 1px;

  path {
    fill: #fff;
    fill-opacity: 0;
    stroke: #ccc;
    stroke-width: 0px;
  }

  path:hover {
    stroke-width: 1.5px;
    stroke: #000;
  }
}