@import "base";
@import "components";
@import "xpanel";
@import "query";
@import "cg";

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px;
  font: $base-font;
}

#title {
  font: bold 14pt Georgia; /* Arial; */
  margin: 10px 0 10px 0;
}

#query-area {
  width: $query-width;
  height: auto;
  padding: 10px;
}

#details-area {
  position: fixed;
  left: $query-width + 5;
  top: 10px;
  right: $info-width - 5;
  height: $details-height;
  padding: 0 20px 0 10px;
}

#selection {
  font-size: 8pt;
  padding-left: 6px;

  .selection-label {
    width: 40pt;
    display: inline-block;
  }

  ul { display: inline-block; list-style: none; position: relative; padding: 0 0; margin: 0;}
  ul li {
    display: inline-block;
    padding: 0 2px;
    border: solid lightgray 1px;
    border-radius: 3px;

    &.selected {
      font-weight: normal;
    }

    &.excluded {
      text-decoration: line-through;
    }
  }
}

#info-area {
  position: fixed;
  right: 10px;
  top: 10px;
  bottom: $map-height + 20;
  width: $info-width;
}

#charts-area {
  //display: inline-block;
  //width: $info-width/2-5;
  width: auto;
  height: $chart-height+20;
  margin-top: 18px;
}

#detectors-area {
  display: inline-block;
  width: $info-width/2-5;
  height: auto;
  vertical-align: top;

  #detectors-label {
    //height: 24px;
    margin: 5px 5px 10px 5px;
  }

  #detectors {
    width: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

#pathogens-area {
  display: inline-block;
  width: $info-width/2-5;
  height: auto;
  vertical-align: top;

  #pathogens-charts {
    width: auto;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.selected {
  font-weight: bold;
}

.excluded {
  //color: lightgrey;
  text-decoration: line-through;
}


/* query-area */

#query {
  //width: auto;
  //height: 20em;
}

#tags {
  width: auto;
  height: 100%;
}

#cg {
  position: fixed;
  left: 10px;
  right: $map-width + 20px;
  top: $details-height + 50px;
  bottom: 10px;
  border: lightgray 1px solid;
}

/* info */

#map-area {
  position: fixed;
  right: 10px;
  bottom: 10px;
}



#map {
  width: $map-width;
  height: $map-height;
  border: solid gray 1px;

  path {
    fill: #fff;
    fill-opacity: 1;
    stroke: #ccc;
    stroke-width: 1px;
  }

  path:hover {
    stroke-width: 1.5px;
    stroke: #000;
  }

  path.selected {
    stroke-width: 2px;
    stroke: green;
  }
}